<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="container">
        <h2>Signup</h2>
        <form action="/register" method="POST">
            <input name ="username" type="text" name="fullname" placeholder="Full Name" required>
            <input name = "email" type="email" name="email" placeholder="Email Address" required>
            <input name = "password" type="password" name="password" placeholder="Password" required>
            <input type="submit" value="Sign Up">
        </form>
    </div>
</body>
</html>
